/* ===========================
@update 2019.06.26
@命名    单级dx-* / 多级dx-*-*__*
==============================*/
html,
body
  font-size: 16px !important /* important 覆盖默认的*/
  line-height: 1 !important
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

body 
  background-color: #fff
  padding-bottom: constant(safe-area-inset-bottom)
  padding-bottom: env(safe-area-inset-bottom)

a, html, body 
  -webkit-tap-highlight-color: transparent

*,
*:before,
*:after
  box-sizing: border-box
  margin: 0

p 
  box-sizing: border-box
  margin: 0 !important

img 
  font-size: 16px

a 
  color: inherit
  text-decoration: none

input
  outline: none
  background-color: transparent
  border: none

ul,
li 
  padding: 0
  list-style: none

img[lazy=loading],
div[lazy=loading]
  background: #f0f0f0
  width: 100%
  height: 100%
img[lazy=error],
div[lazy=error]
  background: #f0f0f0
  width: 100%
  height: 100%
img[lazy=loaded]
  animation: fade .5s

@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1