//使用前必须： theme value值不可以用引号引起来，会导致赋值失败

dx = {
  name: 'dx',
  color1: #ff461a, //  常见问题“问”，查看更多
  color1-1: #FF7918, // 保障范围标题文字颜色
  color1-2: #FFF6F0, // 保障范围标题背景
  color1-3: #FC6E2A, // 保障范围全部时标题装饰颜色
  color1-4: #ff461a, // 保障范围金额
  color2: #FE6E16, // 购买须知头部背景色
  color3: #FECEB2, // 购买须知border色
  color4: #FFF3EE, // 购买须知内容背景色
  color5: #FC643A, // 购买须知内容文字色
  color6: #FF7918, // 常见问题“答”
  bg1: linear-gradient(0deg, #FA3A00, #FE6200), // 模块标题icon色
  bg2: linear-gradient(270deg, #FA3A00, #FE6200), // 模块标题icon色
  service-icon1: url('~@/assets/images/theme/dx-step-01.png')
  service-icon2: url('~@/assets/images/theme/dx-step-02.png')
  service-icon3: url('~@/assets/images/theme/dx-step-03.png')
  service-icon4: url('~@/assets/images/theme/dx-step-04.png')
  service-icon5: url('~@/assets/images/theme/dx-step-05.png')
  service-icon6: url('~@/assets/images/theme/dx-step-06.png')
  service-icon7: url('~@/assets/images/theme/dx-step-07.png')
  service-icon8: url('~@/assets/images/theme/dx-step-08.png')
};
xbb = {
  name: 'xbb',
  color1: #3C71F7, // 常见问题“问”，查看更多
  color1-1: #3C91F7, // 保障范围标题文字颜色
  color1-2: #EDF2FF, // 保障范围标题背景
  color1-3: #3C71F7, // 保障范围全部时标题装饰颜色
  color1-4: #ff461a, // 保障范围金额
  color2: #3C71F7, // 购买须知头部背景色
  color3: #D4E0FF, // 购买须知border色
  color4: #EDF2FF, // 购买须知内容背景色
  color5: #3C71F7, // 购买须知内容文字色
  color6: #FF7918, // 常见问题“答”
  bg1: #3C71F7, // 模块标题icon色
  bg2: #3C71F7, // 模块标题icon色
  service-icon1: url('~@/assets/images/theme/xbb-step-01.png')
  service-icon2: url('~@/assets/images/theme/xbb-step-02.png')
  service-icon3: url('~@/assets/images/theme/xbb-step-03.png')
  service-icon4: url('~@/assets/images/theme/xbb-step-04.png')
  service-icon5: url('~@/assets/images/theme/xbb-step-05.png')
  service-icon6: url('~@/assets/images/theme/xbb-step-06.png')
  service-icon7: url('~@/assets/images/theme/xbb-step-07.png')
  service-icon8: url('~@/assets/images/theme/xbb-step-08.png')
};
themeList = dx xbb;
